p{
    font-size: 2em;
     text-align: center;
     background-color: #ed9590;
     padding: 1em;
     margin-top: 0;
     margin-bottom: 0;
}
nav{
    background-color:#ffcce3;
    display: flex;
    justify-content: center;
    padding: 0.4em;
    gap: 0.3em;
}
nav a{
    background-color: rgb(193, 94, 134);
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    padding: 1em 3em 1em 3em;
}
nav a:hover{
    background-color: #ff69b4;
    color: black;
}