nav{
    background-color: plum;
    display: flex;
    padding: 0.4em;
    gap: 0.3em;
}
nav a{
    background-color: blueviolet;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4em;
    border-radius: 0.3em;
}
nav a:hover{
    background-color: rgb(193, 94, 134);
    color: black;
}